*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1;
    font-weight: 400;
   
    /* Only works if there is nothing absolutely 
    positioned in relation to body */
    overflow-x: hidden;

}

.container{
    max-width: 120rem;
    margin: 0 auto;
}


/* ******************************* */
/* HEADER */
/* ******************************* */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;
    
    /* Beacause we want header to be sticky later */
    height: 4.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.header-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0c5a2;

    /* Beacause we want header to be sticky later */
    height: 2rem;
    position: relative;
}

.h-right{
    display: flex;
    font-size: 16px;
    font-weight: 500;
}

.h-right a{
    vertical-align: middle;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}

.h-right a:hover{
    transform: translate(-2px);
}

.logo {
    font-size: 32px;
    color: black;
    font-weight: 700;
}

span {
    color: #8f4606;
}

.h-icon{
    width: 1.6rem;
    height: 1.6rem;
    color: #844107;
}

/* ******************************* */
/* NAVIGATION */
/* ******************************* */

.main-nav-list{
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-list-1{
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
    margin-left: 80px;
}


/* ******************************* */
/* ABOUT SECTION */
/* ******************************* */

.about-us{
    position: relative;
    height: 70vh;
    width: 100%;
    background-image:linear-gradient(to left top,rgba(172, 160, 108, 0.3),rgba(236, 205, 113, 0.3)),url(Images/image.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    opacity: 75%;
}
.about h1{
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 3.6rem;
    text-align: center;
    padding-top: 8rem;
}

.about p{
    font-size: 18px;
    font-weight: 500;
    line-height: 8rem;
    text-align: center;
    padding-bottom: 5rem;
    color: #333;
}

.About-Text{
    text-align: center;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 6rem;
}


.about-text h4{
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-bottom: 2rem;
    padding-top: 5rem;
    color: #333;
    letter-spacing: 1.2px;
}

.about-text p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    padding-bottom: 4rem;
    color: #333;
    text-align: center;
}

.about-txt{
    padding-top: 7rem;
    text-align: center;
}

.about-txt h4{
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-bottom: 3rem;
    color: #333;
    letter-spacing: 1.2px;
}

.about-txt p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    padding-bottom: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
}


.about-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-text img{
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.about-image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 2rem;
}

.about-image img{
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
  }

.join-us h5{
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: center;
    padding-top: 8rem;
    color: #6f6f6f;
    letter-spacing: 10px;
}

.join-us p{
    font-size: 1.8rem;
    font-weight: 400;
    color: #333;
    line-height: 1.6rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 10rem;
}



/* ******************************* */
/* CONTACT SECTION */
/* ******************************* */

.contact-content{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 3rem;
}

.contact-text h6{
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.6rem;
    padding-top: 3rem;
}

.contact-text p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.Txt{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin: 3rem;
}

/* ******************************* */
/* CTA SECTION */
/* ******************************* */

.section-cta{
    border-bottom: 1px solid #e67e22;
    border-top: 1px solid #e67e22;
    background-color: #ffac62;
}

.cta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.75);
    border-radius: 11px;
    margin-top: 5rem;
    background-image: linear-gradient(to right bottom,#edeae7,#e67e22);
    overflow: hidden;
    margin: 3rem;
}

.cta-text-box{
    padding: 3rem;
    color: #45260a;
}

.cta .heading-secondary{
    color: #45260a;
    margin-bottom: 3.2rem;
   
}

.cta-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta-img-box{
    background-image: linear-gradient(to right bottom,rgb(235, 151, 78, 0.3),rgb(230, 125, 34, 0.3)),
     url('Images/img-11.jpg');
    background-size: cover;
    background-position: center;
}

.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label{
    display: block;
    font-size: 1.4rem;
    font-weight: 500 ;
    margin-bottom: 1.2rem;
}


.cta-form input,
.cta-form select{
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.button{
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;
    background-color: #844107;
}

.button:hover{
    transform: translateX(2px);
    border: 2px solid #eb984e;
    background: #eb984e;
    color: #fff;
}

.cta-form input::placeholder{
    color: #aaa;
}


.cta *:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}

.locateicon{
    color: #fff;
    width: 1.8rem;
    height: 1.8rem;
}

.locatebtn{
    display: inline-block;
    padding: 10px 10px;
    background:#844107;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 3rem;
}

.locatebtn:hover{
    transform: translateX(2px);
    border: 2px solid #eb984e;
    background: #eb984e;
    color: #fff;
}


/* ******************************* */
/* FOLLOW SECTION */
/* ******************************* */

.flw-us h3{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: center;
    padding-top: 3rem;
    background: #ffac62;
    color: #333;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.follow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #8b592c;
    gap: 5rem;
}

.icons{
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}

.btn{
    display: inline-block;
    padding: 13px 40px;
    background:#844107;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 6rem;
}

.btn:hover{
    transform: translateX(2px);
    border: 2px solid #eb984e;
    background: #eb984e;
    color: #fff;
}
/* .btn{
    font-size: 14px;
    padding: 12px 13px;
}
.btn {
    font-size: 10px;
} */

/* rem and em do NOT depend on html font-size in media queries !
Instead, 1rem = 1em = 16px */

/* ******************************* */
/* BELOW 1344px (Smaller desktops) */
/* ******************************* */

@media (max-width:84em){
    .main-nav-list{
        font-size: 16px;
    }

    .contact-content {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        }

    .locatebtn {
        font-size: 14px;
    }   
}


/* ******************************* */
/* BELOW 1200px (Landscape Tablets) */
/* ******************************* */

@media (max-width:75em){
    .main-nav-list{
        font-size: 13px;
        gap: 2.8rem;
    }

    .h-right{
        font-size: 14px;
    }

    .h-icon {
        width: 1.4rem;
        height: 1.4rem;
    }

    .logo{
        font-size: 30px;
    }

    .main-nav-list-1{
        font-size: 14px;
    }

    .about-text h4 {
        font-size: 2.2rem;
        padding-top: 0;
    }

    .about-txt h4 {
        font-size: 2.6rem;
    }

    .about-txt p {
        font-size: 1.1rem;
    }

    .join-us h5 {
        font-size: 2.6rem;
    }

    .join-us p {
        font-size: 1.6rem;
    }

    .about-text p {
        font-size: 1.1rem;
    }

    .about h1 {
        font-size: 4.2rem;
        padding-top: 4rem;
    }

    .contact-text h6{
        font-size: 1.2rem;
    }

    .contact-text p {
        line-height: 2.2rem;
    }

    .icons{
        width: 1.6rem;
        height: 1.6rem;
    }

    .contact-content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .locatebtn {
        font-size: 13px;
    }
}



/* ******************************* */
/* BELOW 944px (Tablets) */
/* ******************************* */

@media (max-width:59em){
    .logo{
        font-size: 24px;
    }

    .main-nav-list{
        font-size: 12px;
        gap: 1.8rem;
    }

    .header {
        padding: 0 0.8rem;
    }

    .h-right {
        font-size: 12px;
    }

    .main-nav-list-1 {
        font-size: 12px;
        gap: 1.8rem;
        margin-left: 40px;
    }

    .h-icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    .row h4 {
        font-size: 20px;
    }    
    
    .row p{
        font-size: 1rem;
    }

    .Text{
        font-size: 2.4rem;
    }

    .icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    .about h1 {
        font-size: 4rem;
    }

    .about-text {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-text h4 {
        font-size: 2.2rem;
        padding-top: 3rem;
    }

    .about-txt {
        padding-top: 3rem;
        font-size: 2.2rem;
    }

    .about-image {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }

    .join-us h5 {
        font-size: 2.5rem;
        letter-spacing: 5px;
    }

    .join-us p{
        font-size: 1.6rem;
    }

    .Txt{
        font-size: 2.4rem;
    }

    .contact-text h6 {
        font-size: 1rem;
    }

    .contact-text p {
        font-size: 0.8rem;
        line-height: 1.8rem;
    }

    .contact-content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        padding: 3rem;
    }

    .cta-form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cta-form label {
        display: block;
        font-size: 1.3rem;
    }

    .cta-form input{
        font-size: 1rem;
    }

    .button{
        font-size: 14px;
        padding: 10px;
    }

    .icons {
        width: 1.4rem;
        height: 1.4rem;
    }

    .feature{
        gap: 3rem;
    }

    .locatebtn {
        font-size: 12px;
    }
}



/* ******************************* */
/* BELOW 704px (Smaller Tablets) */
/* ******************************* */

@media (max-width:44em){
    .main-nav-list-1 {
        font-size: 10px;
        gap: 1rem;
        margin-left: 12px;
    }

    .h-right {
        font-size: 10px;
    }

    .h-icon {
        width: 1rem;
        height: 1rem;
    }

    .main-nav-list {
        font-size: 10px;
        gap: 1.2rem;
    }

    .logo {
        font-size: 22px;
    }


    .about h1 {
        font-size: 3.4rem;
    }

    .about-text h4 {
        font-size: 2rem;
    }

    .about-txt h4 {
        font-size: 2rem;
    }

    .join-us h5 {
        font-size: 2.2rem;
        letter-spacing: 3px;
    }

    .join-us p {
        font-size: 1.4rem;
    }

    .about p {
        font-size: 16px;
        line-height: 5rem;
    }

    .Txt {
        font-size: 2rem;
    }

    .contact-content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.2rem;
        padding: 0rem;
    }

    .cta {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cta-form label {
        display: block;
        font-size: 1rem;
    }

    .cta-form input {
        font-size: 0.8rem;
    }

    .cta-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .icons {
        width: 1.2rem;
        height: 1.2rem;
    }

    .feature{
        gap: 1rem;
    }

    .service-content{
        gap: 2rem;
    }

    .locatebtn {
        font-size: 11px;
    }

}


/* ******************************* */
/* BELOW 544px (Phones) */
/* ******************************* */

@media (max-width:34em){
    .logo {
        font-size: 18px;
    }

    .main-nav-list {
        font-size: 8px;
        gap: 0.8rem;
    }

    .main-nav-list-1 {
        font-size: 8px;
        gap: 0.6rem;
        margin-left: 6px;
    }

    .h-right {
        font-size: 8px;
    }

    .h-icon {
        width: 0.8rem;
        height: 0.8rem;
    }

    .about h1 {
        font-size: 3rem;
    }

    .about p {
        font-size: 14px;
    }

    .about-text p {
        font-size: 0.8rem;
    }

    .about-text h4 {
        font-size: 1.4rem;
        letter-spacing: normal;
    }

    .about-txt p {
        font-size: 0.8rem;
    }

    .about-txt h4 {
        font-size: 1.4rem;
    }

    .join-us h5 {
        font-size: 1.8rem;
        letter-spacing: normal;
    }

    .join-us p {
        font-size: 1.1rem;
    }

    .Txt {
        font-size: 1.8rem;
    }

    .contact-text h6 {
        font-size: 0.9rem;
    }

    .cta-form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .button {
        font-size: 10px;
    }

    .icons {
        width: 1rem;
        height: 1rem;
    }

    .locatebtn {
        font-size: 9px;
    }
}
